@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400, 600, 800;
    font-style: normal;
}
.fade-class {
    position: relative;
    left: 200px;
    opacity: 0;
    transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
}

.fade-in {
    transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
    left: 0px;
    opacity: 1;
}

.top-visual {
    width: 100%;
    height: 260px;
    background-image: url(../img/pure_wagyu_intro-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.purewagyu-cover{
    background-image: url(../img/brand-purewagyu-cover.jpg);
}
.jackscreek-cover{
    background-image: url(../img/brand-jackscreek-cover.jpg);
}

.top-visual h2 {
    color: #fff;
    padding-top: 150px;
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

.product-btn {
    padding: 1rem 20px;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
    background-color: #f5f5f5;
}

.product-btn::-webkit-scrollbar {
    display: none;
}

.product-btn li {
    padding-right: 10px;
    display: inline-block;
}

.product-btn li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0.6rem 0.9rem;
    border-radius: 30px;
    border: 1px solid #bcbcbc;
    background: #fff;
}

.product-btn li a.active {
    background-color: #111;
    color: #fff;
    border-color: 1px solid #111;
}

.prd-count {
    padding: 30px 20px 10px 20px;
}

#items {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.filterme {
    width: 50%;
    height: auto;
    margin-bottom: 40px;
    padding-right: 8px;
}

.filterme:nth-child(even) {
    padding-left: 8px;
    padding-right: 0;
}

.thumb-img {
    width: 100% !important;
    background: #f5f5f5;
    border-radius: 10px;
}

.filterme .brand {
    font-size: 0.8125rem;
    line-height: 1rem;
    margin-top: 10px;
    color: #888;
}

.filterme .title {
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 600;
}

.filterme .list-filter {
    font-size: 0.7rem;
    margin: 10px 0;
}

.filterme .list-filter .list-category {
    padding: 3px 6px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
}

.filterme .price {
    margin-top: 12px;
    font-size: 1.125rem;
    font-weight: 600;
}

.filterme .price>span {
    font-size: 0.8125rem;
    margin-right: 6px;
    font-weight: 200;
    color: #888;
}

.hidden {
    display: none;
}

.pagination-container {
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
    margin-bottom: 30px;
}

.pagination-number,
.pagination-button {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .4rem;
}
.pagination-number:disabled,
.pagination-button:disabled{
    opacity: 0.3;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background-color: #ddd;
}

.pagination-number.active {
    color: #fff;
    background: #000;
}

.pagination-button img{
    margin-top: 5px;
}


/* 상세페이지 */
.goods-prd-wrapper {
    padding-top: 30px;
}
.goods-prd-items{
    margin-top: 30px;
}
.prd-location {
    padding: 0 20px;
    color: #888;
}
.slick-initialized .slick-slide{
    background-color: #f5f5f5;
}
.slick-slide img {
    width: 100%;
}

.slick-arrow {
    display: none;
}

.slick-dots {
    bottom: 15px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots li button:before {
    font-size: 30px;
}

.bottom-inquiry-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    padding: .7rem;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}

.inquiry-button {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 1rem;
    font-family: inherit;
    background-color: #000;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: block;
}
.prd-headcategory{
    display: none;
}
.goods-prd-summary {
    padding: 20px;
}

.goods-prd-summary .prd-brand {
    margin: 1rem 0 .8rem 0;
    font-weight: 400;
    color: #5b5b5b;
}

.goods-prd-summary .prd-title {
    font-size: 1.3rem;
    font-weight: 600;
}
.goods-prd-summary .title-price {
    font-size: 1.3rem;
    line-height: 2;
    font-weight: 600;
}
.goods-prd-summary .prd-sub {
    margin-top: 8px;
    border-top: 1px solid #ccc;
    font-weight: 400;
}

.goods-prd-summary .prd-sub li {
    padding-top: 1rem;
}
.goods-prd-summary .prd-sub .sub-title {
    display: inline-block;
    width: 120px;
}
.goods-prd-summary .prd-sub .prd-weight{
    font-weight: 600;
}
.goods-prd-summary .prd-sub .prd-price{
    font-weight: 600;
}
.prd-description{
    margin-bottom: 10px;
}
.prd-web-inquiry{
    display: none;
}
/* 상세페이지 TAB */
.tab {
    margin-top: 20px;
    width: 100%;
}

.tabnav {
    font-size: 0;
    display: flex;
}

.tabnav li {
    width: 50%;
    display: inline-block;
    height: 46px;
    text-align: center;
}
.tabnav li a.active {
    border-bottom: 2px solid #000;
}

.tabnav li a {
    position: relative;
    display: block;
    color: #dcdcdc;
    padding: 0 30px;
    line-height: 46px;
    text-decoration: none;
    font-size: 1rem;
    background: #fff;
    border-bottom: 2px solid #dcdcdc;
}

.tabnav li a:hover,
.tabnav li a.active {
    background: #fff;
    color: #000;
    font-weight: 600;
}

.tabcontent {
    margin-top: 10px;
    padding: 20px;
}
.tabcontent #tab01{
    line-height: 0;
}
#tab01>img{
    width: 100%;
    margin-bottom: 4rem;
}
#tab01 .info {
    width: 100%;
    padding: 4rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#tab01 .info p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: #000;
}
#tab02{
    padding: 25px;
    background-color: #f5f5f5;
    border-radius: 20px;
}
.prd-desc-table{
    width: 100%;
}
.prd-desc-table, td, th{
    border: none;
}
.prd-desc-table .table-th{
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    line-height: 1.3;
    font-weight: 600;
}
.prd-desc-table .table-td{
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding-left: 1rem;
}

/* 브랜드소개 */
.brand-intro{
    text-align: center;
    font-size: 1.2rem;
}
.brand-intro h1{
    padding: 30px 20px;
    font-weight: 600;
}
.brand-btn-wrap{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.brand-btn-wrap .brand-btn{
    color: #222;
    padding: 1rem;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}
.brand-btn-wrap .brand-btn.active{
    color: #fff;
    background-color: #222;
}

.brand-container{
    padding: 20px;
    padding-top: 80px;
}
.brand-container .content-box{
    margin-bottom: 5rem;
}
.brand-top-cont h1{
    font-size: 2.5rem;
    font-weight: 600;
    padding:10px 0 20px 0;
}
.brand-top-cont img{
    margin-bottom: 2rem;
    width: 100%;
}
.brand-container .content-box .title{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 3;
}
.brand-container .content-box .content h1{
    font-size: 2.5rem;
    font-weight: 600;
    padding:10px 0 20px 0;
}
.brand-container .content-box .content .brand-txt{
    font-size: 1.2rem;
    line-height: 1.5;
}
.brand-container .content-box .content img{
    width: 100%;
    margin-top: 2rem;
}
.brand-container .content-box .content .marble-score-pic{
    display: flex;
    justify-content: space-between;
}
.brand-container .content-box .content .marble-score-pic li{
    margin-right: 6px;
    text-align: center;
    line-height: 2;
}
.brand-container .content-box .content .marble-score-pic img{
    width: 100%;
    display: block;
    border-radius: 6px;
}
.brand-container .content-box .content .marble-score-pic img:last-chile{
    padding: 0;
}
.brand-container .content-box .content .brand-table{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}
.brand-container .content-box .content .brand-table thead{
    background-color: #f5f5f5;;
}
.brand-container .content-box .content .brand-table th, td{
    padding: .5rem;
    border: 1px solid #b5b5b5;
    text-align: center;
    vertical-align: middle;
}
/* JACK'S CREEK BRAND */
.wagyu-x-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

}
.wagyu-x-logo{
    width: 35%;
}
.wagyu-x-table-wrap{
    width: 60%;
}
.wagyu-x-table{
    width: 100%;
    text-align: center;
}
.wagyu-x-table .x-title{
    background-color: #f5f5f5;
    border-top: 1px solid #b5b5b5;
}
.wagyu-x-table th, .wagyu-x-table td{
    padding: 1rem;
    border-bottom: 1px solid #b5b5b5;
}

@media all and (min-width:768px) {
    .product-btn {
        display: flex;
        justify-content: center;
    }
}

@media all and (min-width:1024px) {
    .top-visual {
        height: 400px;
    }

    .top-visual h2 {
        width: 1200px;
        margin: 0 auto;
        padding-top: 220px;
        font-size: 2.5rem;
        font-weight: 600;
    }

    .prd-count {
        padding: 28px;
        margin-top: 20px;
        font-size: 1.1rem;
    }

    .product-btn {
        display: flex;
        justify-content: center;
        padding: 20px;
        background:#f5f5f5;
        border-bottom: 1px solid #dcdcdc;
    }

    .product-btn li {
        padding-right: 1rem;
    }

    .product-btn li a {
        padding: .8rem 1.3rem;
        font-size: 1rem;
    }

    #items {
        max-width: 1200px;
    }

    .filterme {
        width: 25%;
        padding: 0 8px;
        margin-bottom: 60px;
    }

    .filterme:nth-child(even) {
        padding: 0 8px;
    }

    /* 상품상세 */
    .prd-headcategory{
        display: block;
        padding-top: 150px;
        width: 1200px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .prd-headcategory ol{
        display: flex;
        align-items: center;
    }
    .prd-headcategory ol li{
        color: #5b5b5b;
    }
    .prd-headcategory ol li:first-child::before{
        display: none;
    }
    .prd-headcategory ol li::before{
        content: '';
        width: 8px;
        height: 16px;
        margin-right: 8px;
        margin-left: 6px;
        background: transparent url(../img/arrow_path.png)no-repeat center/auto 14px;
        vertical-align: top;
        display: inline-block;
    }
    .goods-prd-wrapper{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    .goods-prd-items{
        width: 45%;
    }
    .goods-prd-summary{
        width: 50%;
        padding: 50px 0 0 0;
    }
    .goods-prd-summary .prd-title{
        font-size: 2rem;
    }
    .goods-prd-summary .title-price{
        font-size: 1.8rem;
    }
    .goods-prd-summary .prd-sub{
        margin-top: 10px;
    }
    .prd-description{
        max-width: 1200px;
        width:1200px;
        margin: 0 auto;
    }
    .prd-web-inquiry{
        display: block;
        width: 100%;
        border: none;
        background-color: #000;
        color: #fff;
        font-size: 1.1rem;
        cursor: pointer;
        margin-top: 30px;
        font-weight: 600;
        padding: 1rem;
        border-radius: 6px;
        text-align: center;
    }
    .slick-list{
        border-radius: 1rem;
    }
    .slick-dots{
        bottom: 35px;
    }
    .bottom-inquiry-area{
        display: none;
    }
    .tab{
        margin-top: 80px;
    }
    #tab02{
        padding: 25px;
        border-radius: 20px;
    }
    .prd-desc-table{
        width: 100%;
    }
    .prd-desc-table, td, th{
        border: none;
    }
    .prd-desc-table .table-th{
        padding: 1rem;
        text-align: left;
        border-bottom: 1px solid #ccc;
        background-color: transparent;
        font-weight: 600;
    }
    .prd-desc-table .table-td{
        border-bottom: 1px solid #ccc;
        text-align: left;
    }
    .tabnav li a{
        font-size: 1.2rem;
    }
    .tabcontent{
        margin:80px 0 80px 0;
        padding: 0;
    }
    /* 브랜드소개 */
    .brand-intro h1{
        padding: 80px 20px;
        font-size: 2rem;
        font-weight: 600;
    }
    .brand-btn-wrap .brand-btn{
        padding: 1.5rem 2rem;
        font-size: 1.3rem;
    }
    .brand-container{
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 9rem;
    }
    .brand-top-cont h1{
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    .brand-container .content-box{
        display: flex;
        margin-bottom: 9rem;
    }
    .brand-container .content-box .title{
        width: 340px;
        font-size: 1.3rem;
        font-weight: 600;
        padding-top: 1rem;
    }
    .brand-container .content-box .content{
        width: calc(100% - 340px);
        padding-top: 20px;
    }
    .brand-container .content-box .content h1{
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 2rem;
        line-height: 1.4;
        padding-top: 0;
    }
    .brand-container .content-box .content img{
        width: 100%;
        margin-top: 2rem;
    }
    .brand-container .content-box .marble-score-pic{
        display: flex;
    }
    .brand-container .content-box .marble-score-pic li{
        padding-right: 10px;
        text-align: center;
    }
    .brand-container .content-box .marble-score-pic li:last-child{
        padding-right: 0;
        margin-right: 0;
    }
    .brand-container .content-box .marble-score-pic img{
        /* padding-right: 1rem; */
        width: 100%;
    }
    .brand-container .content-box .marble-score-pic span{
        font-size: 1.1rem;
        padding-top: 1rem;
        line-height: 2.5;
    }
    .brand-container .content-box .content .brand-txt{
        font-size: 1.2rem;
        line-height: 1.6;
        padding-top: .5rem;
    }
    .brand-container .content-box .content .brand-table{
        width: 100%;
    }
    .brand-container .content-box .content .brand-table th, .brand-table td{
        font-size: 1rem;
        border: 1px solid #b5b5b5;
        padding: .8rem;
    }
    /* JACK'S CREEK */
    .wagyu-x-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .wagyu-x-logo{
        width: 35%;
    }
    .wagyu-x-table-wrap{
        width: 60%;
    }
    .wagyu-x-table{
        width: 100%;
        text-align: center;
    }
    .wagyu-x-table .x-title{
        background-color: #f5f5f5;
        border-top: 1px solid #b5b5b5;
    }
    .wagyu-x-table th, .wagyu-x-table td{
        padding: 1rem;
        border-bottom: 1px solid #b5b5b5;
    }
}