@charset "UTF-8";

header {
    width: 100vw;
    height: auto;
    position: fixed;
    z-index: 99;
}

.header__nav-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 1.875rem;
    font-weight: 900;
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.mo-menu-icon {
    display: none;
}

.nav-gnb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-gnb li a {
    display: inline-block;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-gnb li a:hover {
    font-weight: 700;
    
    text-decoration-line: underline;
}