@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
    overflow-x: hidden;
    font-family: 'Pretendard';
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

main .container {
    max-width: 1920px;
    height: inherit;
    margin: 0 auto;
    background-image: url(/main-page/images/img__bg-main02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    animation: intro-ani 2s ease-out;
    overflow: hidden;
}

@keyframes intro-ani {
    0% {
        transform: scale(80%);
        opacity: .5;
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

.main__tile-wrap {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.main__tile-wrap h2 {
    color: #FFF;
    font-size: 5rem;
    font-weight: 700;
    line-height: 120%;
    animation: title-ani-h2 4s ease-out;
}

.main__tile-wrap p {
    width: 50%;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
    word-break: keep-all;
    animation: title-ani-p 6s ease-out;
}

@keyframes title-ani-h2 {
    0% {
        margin-top: 100px;
        opacity: 0;
    }

    50% {
        margin-top: 100px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes title-ani-p {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        margin-top: 0;
    }
}

@media all and (max-width:1024px) {
    .main__tile-wrap h2 {
        font-size: 3rem;
    }

    .main__tile-wrap p {
        font-size: 1.25rem;
    }
}

@media all and (max-width:768px) {}


/* section - common */
section {
    background-color: #fff;
    padding: 3rem 0;
    transition: all .5s;
}

section .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 7rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    opacity: 0;
    transition: all .5s;
}

.section-title {
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
}

.section__contents-wrap {
    display: flex;
    justify-content: space-around;
    align-self: stretch;
}

.contents-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.contents-area>img {
    transition: all 0.3s;
}

.contents-area:hover>img {
    transform: scale(1.1);
}

.contents-area:hover>button {
    gap: 1.5rem;
    background-color: #D4494F;
}

.text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.text-wrap-name {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
}

.text-wrap-info {
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
}

@media all and (max-width:1024px) {
    section .container {
        width: 100%;
        padding: 2rem;
    }
}

@media all and (max-width:768px) {
    section .container {
        padding: 1rem;
    }

    .section-title {
        font-size: 2rem;
    }

    .contents-area {
        gap: 2rem;
    }

    .text-wrap-name {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .text-wrap-info {
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
    }
}


/* section - product */
.contents-area>img {
    width: 240px;
    height: auto;
}

.btn_direct {
    display: flex;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #000;
    color: #FFF;
    border: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 120%;
    cursor: pointer;
    transition: all 0.3s;
}

@media all and (max-width:1024px) {}

@media all and (max-width:768px) {
    .product .section__contents-wrap {
        flex-direction: column;
        gap: 5rem;
    }

    .contents-area>img {
        width: 200px;
    }

    .btn_direct {
        padding: 1rem 2rem;
    }
}

/* section - about */
.about {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tab-container {
    max-width: 1200px;
    height: auto;
    position: relative;
    display: flex;
    align-self: stretch;
    margin: 0 auto;
}

.about__mobile {
    display: none;
}

.tab-list {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    position: relative;
}

.tab-list__mobile-img {
    display: none;
}

.tab-item {
    display: flex;
    padding: 2.5rem 4rem;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
    transition: all 0.5s;
    cursor: pointer;
}

.tab-item>img {
    filter: invert();
    transition: all 0.5s;
}

.about .text-wrap {
    align-items: flex-start;
    gap: 0;
    transition: all 0.5s;
}

.about .text-wrap-name {
    font-size: 1.5rem;
}

.about .text-wrap-info {
    display: block;
    width: 90%;
    height: 0;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    word-break: keep-all;
}

.tab-item.on {
    background-color: #000;
}

.tab-item.on>img {
    filter: none;
}

.tab-item.on .text-wrap {
    gap: 1rem;
    color: #fff;
}

.tab-item.on .text-wrap-info {
    height: auto;
}

.tab-img-wrap {
    width: 620px;
    height: auto;
}

.img-box {
    width: 620px;
    height: 544px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.img-box>img {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
}

.img-box>img.bg {
    opacity: 0;
}

.img-box>img.obj {
    right: -620px;
}

.img-box.on>img {
    opacity: 1;
    right: 0;
}

@media all and (max-width:1024px) {
    .tab-container {
        /* width: 100%;
        padding: 2rem; */
        width: calc(100vw - 4rem);
    }

    .about__mobile {
        display: block;
    }

    .tab-list {
        display: none;
    }

    .tab-img-wrap {
        display: none;
    }

    .tab-list__mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        gap: 5rem;
    }

    .tab-item-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        align-self: stretch;
    }

    .tab-item-mobile>img {
        width: 100%;
    }

    .about .text-wrap {
        align-items: center;
        gap: 1rem;
        ;
    }

    .about .text-wrap-name {
        font-size: 1.75rem;
    }

    .about .text-wrap-info {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 1.25rem;
    }
}

@media all and (max-width:768px) {
    .tab-container {
        width: 100%;
        padding: 1rem;
    }
}


/* section -contact */
.section__title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title-sub {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 120%;
}

.contact-icon-wrap {
    width: 7.5rem;
    height: 7.5rem;
    padding: 0.5rem;
    border-radius: 5rem;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.contact .text-wrap {
    gap: 2rem;
}

.contact .text-wrap-info {
    text-decoration-line: underline;
}

.contact .contents-area:hover>.contact-icon-wrap {
    transform: rotateY(180deg);
    background-color: #D4494F;
}

@media all and (max-width:768px) {
    .title-sub {
        font-size: 1.2rem;
    }

    .contact .section__contents-wrap {
        flex-direction: column;
        gap: 4rem;
    }

    .contact .text-wrap {
        gap: 1rem;
    }
}